<div class="container" ng-init="weather.stations = weather.weatherService.getStations()">

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <h3>Weather Stations</h3>


      <div class="row">
        <div class="col-lg-6 col-lg-offset-6">
          <div class="input-group">
            <label class="input-group-addon" id="search"><i class="fa fa-search"></i></label>
            <input type="text" class="form-control" placeholder="Search" ng-model="weather.search">
          </div>
          <br>
        </div>
      </div>

      <ul class="list-group">
        <a class="list-group-item" ng-repeat="s in weather.stations | filter: weather.search" ng-href="#/weather-stations/{{s.name}}" >{{s.name}}</a>
      </ul>

    </div>
  </div>

</div>
