<div class="container">

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <br>
      <div class="alert alert-danger" ng-show="weather.weatherMessage">{{weather.weatherMessage}}</div>


      <div ng-show="weather.weather">
        <h2 class="text-center">
          {{weather.weather.name}}
          <small class="text-info"><i class="wi fa-lg wi-thermometer"></i> {{weather.weather.main.temp | kelvinToCelsius}} °C</small>
        </h2>
        <br>

        <weather-icon weather-main-info="{{weather.weather.weather[0].main}}"></weather-icon>
        <br>

        <table class="table table-bordered table-striped">
          <tr>
            <th><i class="text-info wi fa-fw fa-lg wi-strong-wind"></i> &nbsp;Wind</th>
            <td>{{weather.weather.wind.speed}} m/s</td>
          </tr>
          <tr>
            <th><i class="text-info wi fa-fw fa-lg wi-cloudy"></i> &nbsp;Cloudiness</th>
            <td>{{weather.weather.weather[0].description}}</td>
          </tr>
          <tr>
            <th><i class="text-info wi fa-fw fa-lg wi-wind-default wi-wind-default._15-deg"></i> &nbsp;Pressure</th>
            <td>{{weather.weather.main.pressure}} hpa</td>
          </tr>
          <tr>
            <th><i class="text-info wi fa-fw fa-lg wi-sprinkles"></i> Humidity</th>
            <td>{{weather.weather.main.humidity}} %</td>
          </tr>
          <tr>
            <th><i class="text-info wi fa-fw fa-lg wi-sunrise"></i> &nbsp;Sunrise</th>
            <td>{{weather.weather.sys.sunrise*1000 | date: 'shortTime'}}</td>
          </tr>
          <tr>
            <th><i class="text-info wi fa-fw fa-lg wi-horizon"></i> &nbsp;Sunset</th>
            <td>{{weather.weather.sys.sunset*1000 | date: 'shortTime'}}</td>
          </tr>
        </table>
      </div>

    </div>
  </div>


</div>
