<a class="btn btn-primary btn-left btn-back" href="" ng-click="mainNavbar.goBack()" ng-hide="app.currentRoute == '/' || app.currentRoute == '/weather-stations'">
  <i class="fa fa-3x fa-angle-left"></i>
</a>

<h4 class="navbar-title">Open Weather</h4>

<a href="" class="btn btn-account" ng-show="app.isLogged()" ng-click="mainNavbar.logout()"><i class="fa fa-3x fa-sign-out"></i></a>
