<div class="container bg-wallpaper bg-wallpaper-sunset">

  <div class="row text-center header-logo">
    <img class="text-center" src="assets/img/open-weather-logo.png" alt="open-weather-logo">
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 col-md-offset-3 btn-vert-block">
      <a class="btn btn-success btn-block" href="#/register">Create account</a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 btn-vert-block">
      <a class="btn btn-default btn-block" href="#/login">Login</a>
    </div>
  </div>

</div>
