<div class="container">

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <h3>Connection</h3>
      <br>

      <!-- Login form -->
      <form name="login.loginForm" role="form" novalidate ng-submit="login.login()">

        <div class="alert alert-danger" role="alert" ng-show="login.formMessage">Incorrect password</div>

        <div class="form-group">
          <div class="input-group">
            <label class="input-group-addon" for="name"><i class="fa fa-lg fa-fw fa-user"></i></label>
            <input class="form-control"
              type="text"
              name="name"
              id="name"
              placeholder="Login"
              ng-model="login.user.name"
              ng-required="true">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <label class="input-group-addon" for="password"><i class="fa fa-lg fa-fw fa-key"></i></label>
            <input class="form-control"
              type="password" name="password" id="password"
              placeholder="Password"
              ng-model="login.user.password"
              ng-required="true"
              ng-minlength="4">
          </div>
        </div>

        <div class="form-group text-right">
          <button class="btn btn-lg btn-primary" type="submit" ng-disabled="login.loginForm.$invalid">Connexion</button>
        </div>

      </form>


      <div class="alert alert-sm alert-info">
        <ul class="list-unstyled">
          <li><strong>Login</strong>: mario</li>
          <li><strong>Password</strong>: bross</li>
        </ul>
      </div>

    </div>
  </div>

</div>
