<div class="container">

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <h3>Create account</h3>
      <br>

      <!-- Login form -->
      <form name="register.registerForm" role="form" novalidate ng-submit="register.register()">

        <div class="alert alert-danger" role="alert" ng-show="register.registerForm.$error.passwordConstraint">Forbidden password</div>

        <div class="form-group">
          <div class="input-group">
            <label class="input-group-addon" for="name"><i class="fa fa-lg fa-fw fa-user"></i></label>
            <input class="form-control"
              type="text"
              name="name"
              id="name"
              placeholder="Login"
              ng-model="register.user.name"
              ng-required="true">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <label class="input-group-addon" for="email"><i class="fa fa-lg fa-fw fa-envelope"></i></label>
            <input class="form-control"
              type="email"
              name="email"
              id="email"
              placeholder="Email"
              ng-model="register.user.email"
              ng-required="true">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <label class="input-group-addon" for="password"><i class="fa fa-lg fa-fw fa-key"></i></label>
            <input class="form-control"
              type="password" name="password" id="password"
              placeholder="Password"
              ng-model="register.user.password"
              ng-required="true"
              ng-minlength="4"
              app-password-constraint>
          </div>
        </div>

        <div class="form-group text-right">
          <button class="btn btn-lg btn-primary" type="submit" ng-disabled="register.registerForm.$invalid">Sign in</button>
        </div>

      </form>


      <div class="alert alert-sm alert-warning">
        <i class="fa fa-warning"></i> This form isn't link to a server
      </div>

    </div>
  </div>

</div>
