// Primary button
.btn-primary {
  .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
}

@media (max-width: @screen-sm-min) {
  .btn-vert-block .btn {
    margin-top: 10px;
  }
}
