.navbar {

  &.navbar-main {
    background-color : @primary-color;
    border           : none;

    .btn {
      .square(@navbar-height);
      border-radius: 0;
    }

    .btn-left {
      float: left;
      position: relative;

      &.btn-back {
        .fa {
          position : absolute;
          top      : 4px;
          left     : 14px;
        }
      }

    }

    .btn-account {
      float: right;
      color: #fff;

      .fa {
        position : absolute;
        right    : 9px;
        top      : 5px;
      }
    }

    .navbar-title {
      position : absolute;
      top      : 0;
      right    : @navbar-height;
      bottom   : 0;
      left     : @navbar-height;
      padding  : 5px;
      margin   : 0;
      font-weight: bolder;
      text-align: center;
      padding-top: 16px;
      color: lighten(@primary-color, 45%);
    }

  }

}
