.main-container {
   position : absolute;
   top      : 0;
   right    : 0;
   bottom   : 0;
   left     : 0;
   overflow : hidden;
}

.main-view {
  position : absolute;
  top      : @navbar-height;
  right    : 0;
  bottom   : @navbar-height;
  left     : 0;
  overflow : hidden;

  .container {
    padding-bottom: 20px;
    position: relative;
    .square(100%);
    overflow-y: auto;
  }
}
