// Fonts
@font-face {
  font-family : 'roboto-light';
  src         : url(@font-roboto-light-path) format('truetype');
  font-weight : normal;
  font-style  : normal;
}


body {
  .user-select(none);
  font-family: roboto-light;
}


.text-primary {
  color: @primary-color;
}



// Background wallpaper
.bg-wallpaper {
  position : absolute;
  top      : 0;
  right    : 0;
  bottom   : 0;
  left     : 0;

  background-repeat     : no-repeat;
  background-attachment : fixed;
  background-position   : left center;
  background-size       : cover;
  .translate3d(0, 0, 0);

  &-sunset {
    background-image: url(@bg-wallpaper-sunset-path);
  }
}

.header-logo {
  padding-top    : @padding-large-horizontal;
  padding-bottom : @padding-large-horizontal;
}
