//== Colors
// -------------------------
@primary-color       : #3F51B5;


//== Buttons
// -------------------------
@btn-primary-color  : #fff;
@btn-primary-bg     : @primary-color;
@btn-primary-border : darken(@btn-primary-bg, 5%);


//== Paths
// -------------------------
@font-roboto-light-path   : '../../assets/fonts/Roboto-Light.ttf';
@bg-wallpaper-sunset-path : '../../assets/img/sunset-wallpaper.jpg';
